.layout-module_NoteHome {
  width: 100%;
  height: 100%;
  padding: 0 40px 10px;

  .note-home-header {
    margin: 30px 24px 0;
    display: flex;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    font-style: normal;

    .title {
      height: 32px;
      line-height: 32px;
      text-align: center;
      color: #262626;
      font-size: 20px;
      font-weight: 600;
    }

    .operation {
      display: flex;
      flex-direction: row;

      .search {
        width: 240px;
        height: 32px;
        position: relative;
        box-sizing: border-box;

        /deep/ * {
          height: 32px;
          line-height: 32px;
          background-color: unset;
        }

        /deep/ .ivu-input:hover, /deep/.ivu-input:focus {
          border-color: #00B96B;
          outline: 0;
          box-shadow: none;
        }
      }

      .action {
        display: flex;
        align-items: center;
        color: #262626;
        margin-left: 24px;

        .order {
          color: #262626;
        }

        /deep/.ivu-select-dropdown {
          margin-top: 10px;
        }

        .ivu-dropdown-menu {
          margin-bottom: 0;

          .ivu-dropdown-item {
            display: flex;

            color: #262626;
            font-size: 14px !important;

            .iconfont {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .note-home-list {
    margin: 5px 24px;

    .note-list-item {
      display: flex;
      justify-content: space-between;
      position: relative;

      .index-module_leftToolBar {
        position: absolute;
        left: -30px;
      }

      .index-module_noteItem {
        width: 100%;
        border: 1px solid #E7E9E8;
      }

      .index-module_rightToolBar {
        position: absolute;
        right: -45px;
      }
    }
  }

}
