.layout-module_SeriesColumn {
  width: 100%;
  height: 100%;
  padding: 0 40px 10px;

  .column-home-header {
    margin: 30px 24px 0;
    display: flex;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    font-style: normal;

    .title {
      height: 32px;
      width: calc(~"10% + 10px");
      line-height: 32px;
      text-align: center;
      color: #262626;
      font-size: 20px;
      font-weight: 600;
      padding-right: 10px;
    }

    .separator-line {
      width: calc(~"90% - 131px");
    }

    .operation {
      display: flex;
      width: 121px;
      flex-direction: row;

      .action {
        display: flex;
        align-items: center;
        color: #262626;
        padding-left: 10px;


        .icon-box {
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: 1px solid #dbdada;
          background: #FFFFFF;
          border-radius: 5px;
          margin-left: 5px;
        }
      }

      .action:hover {
        border-color: #00B96B;
      }
    }
  }

  .column-home-list {
    margin: 30px 24px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .column-list-item {
      box-sizing: border-box;
      padding: 0;
      color: #262626;
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      font-feature-settings: "tnum";
      position: relative;
      border-radius: 6px;
      border: 0;
      width: calc(~"50% - 20px");
      transition: none;
      margin-bottom: 16px;

      .column-card-body {
        position: relative;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid #E7E9E8;

        .column-meta {
          display: flex;

          .meta-icon {
            .iconfont {
              position: relative;
              top: -6px;
              font-size: 25px;
            }
            margin-right: 5px;
          }

          .meta-content {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .column-name {
              padding-right: 35px;
              color: #262626;
              line-height: 1.5;
              display: flex;
              align-items: center;
              width: 100%;

              .column-name-text {
                font-size: 16px;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .icon-content-public, .icon-lock {
                font-size: 14px;
              }
            }

            .meta-description {
              font-size: 12px;
              display: -webkit-box;
              min-height: 21px;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 21px;
              margin-top: 10px;

              .columns-description {
                color: #8A8F8D;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }

          .meta-menu {
            visibility: hidden;
            position: absolute;
            right: 12px;
            border-radius: 8px;
            border: 1px solid #E7E9E8;
            top: 12px;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .icon-box {
              min-width: 32px;
              min-height: 32px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .column-article {
          padding-left: 16px;
          padding-top: 15px;
          margin: 15px 8px 0;
          min-height: 100px;
          border-top: 1px solid #E7E9E8;

          li::marker {
            color: #8A8F8D;
          }

          .columnsummary-module_item {
            color: #8A8F8D;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 18px;

            .columnsummary-module_itemText {
              flex: auto;
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .columnsummary-module_itemTime {
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              min-width: 80px;
              margin-left: 8px;
              font-size: 12px;
              line-height: 21px;
              text-align: right;
            }
          }

          .columnsummary-module_item:hover {
            .columnsummary-module_itemText {
              color: #262626;
            }
          }

          .empty-li {
            min-height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            color: #8A8F8D;
          }
        }
      }
    }

    .column-list-item:hover {
      .meta-menu {
        visibility: visible!important;
      }
    }
  }

}

/deep/ .tag-color-tooltip {
  padding-top: 5px !important;
}

/deep/.ant-tooltip-inner {
  padding: 5px;
}

/deep/ .ant-tooltip-arrow {
  display: none;
}

/deep/.ivu-select-dropdown {
  padding: 5px 0;
  border-radius: 8px;

  .ivu-dropdown-menu {
    min-width: 135px;

    .ivu-dropdown-item {
      color: #262626;
      padding: 8px 16px 8px 20px;

      .iconfont {
        margin-right: 5px;
      }

      .permissions {
        font-weight: 500;
      }

      .delete {
        color: red;
      }
    }

    .ivu-dropdown-item:hover {
      background-color: #eff0f0;
    }

    .ivu-dropdown-item:last-child {
      border-top: 1px solid #E7E9E8;
      border-radius: 4px;
      margin: 5px 0 0 0;
    }
  }
}
