.layout-module_account {
  max-width: 668px;

  .setting-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #262626;
    position: -webkit-sticky;
    position: sticky;
    background-color: #FFFFFF;
    z-index: 100;
    padding: 48px 0 28px;
    top: 0;
    left: 0;
    text-align: inherit;
    margin: 0px;
  }

  .settings-form {
    .setting-legacy-form {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: rgba(0,0,0,.85);
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      font-feature-settings: "tnum";
    }
  }
}
