@import '../common-var.less';

.layout-module_account {

  .setting-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: var(--font-color);
    position: sticky;
    padding: 48px 0 28px;
    top: 0;
    left: 0;
    margin: 0px;
    text-align: inherit;
  }

  .setting-subtitle {
    line-height: 24px;
    font-weight: 500;
    color: var(--font-color);
    margin: 0px;
    text-align: inherit;
    font-size: 16px;
  }

  .settings-form {
    width: 100%;
    margin-top: 16px;
    color: var(--font-color);

    .form-item {
      position: relative;
      background: var(--on-theme-bg-color);
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 0;
      margin-top: 16px;
      display: flex;
      align-items: center;

      .icon-account-completed, .icon-account-unComplete {
        font-size: 29px;
      }

      .form-content {
        padding-left: 10px;

        p {
          margin: unset;
        }

        .tip {
          color: var(--title-color);
          margin-top: 8px;
        }
      }

      .control-button {
        display: inline-block;
        white-space: nowrap;
        text-align: center;
        border: 1px solid @border-color_normal;
        transition: all .3s cubic-bezier(.645, .045, .355, 1);
        -moz-user-select: none;
        user-select: none;
        touch-action: manipulation;
        outline: 0;
        height: 24px;
        padding: 0 7px;
        line-height: 1.15;
        box-shadow: none;
        text-shadow: none;
        border-radius: 6px;
        font-weight: 500;
        color: var(--font-color);
        background: unset;
        font-size: 12px;
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -12px;
        cursor: pointer;
      }

      .control-button, .control-button:focus, .control-button:hover {
        box-shadow: none;
        background-image: none;
      }

      .control-button:focus, .control-button:hover {
        color: @primary-color;
        //background: #ffffff;
        border-color: @primary-color;
      }
    }

    .mobile-setting-form {
      margin-top: 0;
    }

    .thirdAccount-setting-form {
      margin-top: 56px;

      .setting-subtitle {
        line-height: 24px;
        font-weight: 500;
        color: var(--font-color);
        font-size: 16px;
        text-align: inherit;
        margin: 0px 0px 6px;
      }

      .subtitle-tip {
        line-height: 22px;
        color: var(--title-color);
      }

      .third-binding-list {
        margin-top: 16px;
        margin-left: -16px;
        display: flex;
        flex-direction: row;
        //color: #000000;

        .third-binding-item {
          background: var(--on-theme-bg-color);
          border-radius: 8px;
          height: 46px;
          line-height: 46px;
          padding: 0 16px;
          flex: auto;
          margin-left: 16px;
          display: flex;
          justify-content: space-between;
          white-space: nowrap;

          .bind-text {
            display: flex;
            justify-content: center;

            .iconfont {
              font-size: 20px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

.account-set-modal {

  .header {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    word-wrap: break-word;
    margin: 0 8px 4px 8px;
  }

  .warn {
    color: #8A8F8D;
    margin: 0 8px 35px 8px;
  }

  .select-option {
    margin: 0 8px 10px 8px;
  }

  .validation {
    margin: 15px 8px 10px 8px;
  }

  .check-code {
    margin: 40px 8px 10px 8px;
    display: flex;
    justify-content: space-between;

    .check-code-input {
      width: 60%;
    }

    .check-code-btn {
      height: 37px;
      width: 35%;
    }

    .check-code-btn:not([disabled]):hover {
      color: #00B96B;
      border-color: #00B96B;
      box-shadow: none;
    }

    .check-code-btn:focus {
      box-shadow: none;
    }
  }

  .error-code-input >  {

    /deep/.ivu-input {
      border-color: red !important;
    }
  }

  .check-code-tip {
    margin: 5px 8px 5px 8px;
    font-size: 14px;
    height: 40px;

    .error-tip {
      color: red;
    }
  }

  .action {
    display: flex;
    justify-content: right;
    margin: 0 8px 10px 8px;

    .cancel-btn {
      margin-right: 10px;
    }

    .cancel-btn:hover {
      color: #00B96B;
      border-color: #00B96B;
      box-shadow: none;
    }

    .next-btn {
      border: 1px solid #00B96B;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      background: #00B96B;
      text-shadow: none;
      box-shadow: none;
      outline: none;
    }

    .next-btn:hover {
      background: #009456;
      border-color: #009456;
    }
  }

  .step-2 {
    //height: 356px;

    .change-item-input {
      padding: 0 8px 10px 8px;
    }

    .check-code {
      margin: 15px 8px 10px 8px;
    }

    .new-value-tip, .confirm-value-tip {
      margin: 5px 8px 10px 8px;
      font-size: 14px;
      height: 20px;

      .error-tip {
        color: red;
      }
    }

    .confirm-value-tip {
      margin: 5px 8px 20px 8px;;
    }

    .warning-prompt {
      padding: 24px;
      font-size: 14px;
      line-height: 1.5715;
      word-wrap: break-word;
      color: #262626;

      .tip {
        margin: 0;
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: "tnum";
        position: relative;
        display: flex;
        align-items: center;
        padding: 8px 15px;
        word-wrap: break-word;
        border-radius: 6px;
        background-color: #F9EFCD;
        border: 1px solid #F5D480;
      }

      .matters {
        margin-top: 24px;
        list-style: disc inside;
      }
    }

    .confirm-btn {
      margin-right: 24px;
    }

    .confirm-btn:hover {
      color: #FFFFFF;
      border-color: #DF2A3F;
      background: #E4495B;
      box-shadow: none;
    }

    .confirm-btn {
      border: 1px solid #E7E9E8;
      font-size: 14px;
      font-weight: 500;
      color: #DF2A3F;
      text-shadow: none;
      box-shadow: none;
      outline: none;
    }

    .domain-suffix {
      margin-top: 34px;
      height: 40px;

      /deep/.ivu-input-group-prepend {
        border: 1px solid #E7E9E8;
        width: auto;
      }

      /deep/ .ivu-input {
        height: 40px;
      }
    }
  }
}

/deep/ .ant-select-focused .ant-select-selection, /deep/ .ant-select-selection:focus,
/deep/ .ant-select-selection:active, /deep/ .ant-select-selection:hover {
  border-color: #00B96B;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: none;
}

/deep/ .ant-select-selection-selected-value {
  font-size: 14px;
  color: #262626;
}

/deep/ .ant-select-dropdown-menu-item-selected {
  color: #262626;
  background: #eff0f0;
}

/deep/ .ant-select-dropdown {
  .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #F5F5F5;
  }
}

/deep/ .ivu-input {
  height: 37px;
}

/deep/ .ivu-input:hover, /deep/ .ivu-input:focus {
  border-color: #00B96B;
  box-shadow: none;
}

/deep/ .ivu-input-group-prepend {
  width: 60px;
  padding: unset;
  border: none;
}

/deep/ #emailChange {
  .ivu-input-group-prepend {
    display: none;
  }

  .ivu-input {
    border-radius: 4px !important;
  }
}

/deep/ .ivu-input-group-prepend {
  .ivu-input {
    border-radius: 4px 0 0 4px;
  }
}
