@import '../common-var.less';

.layout-module_account {
  max-width: 80%;
  margin: 0 auto;

  .setting-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #262626;
    position: sticky;
    padding: 48px 0 28px;
    top: 0;
    left: 0;
    margin: 0px;
    text-align: inherit;
  }

  .setting-subtitle {
    line-height: 24px;
    font-weight: 500;
    color: #262626;
    margin: 0px;
    text-align: inherit;
    font-size: 16px;
  }

  .settings-form {
    width: 100%;
    margin-top: 16px;
    color: #262626;

    .form-item {
      position: relative;
      background-color: #FAFAFA;
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 0;
      margin-top: 16px;
      display: flex;
      align-items: center;

      .icon-account-completed, .icon-account-unComplete {
        font-size: 29px;
      }

      .form-content {
        padding-left: 10px;

        p{
          margin: unset;
        }
        .tip {
          color: #8A8F8D;
          margin-top: 8px;
        }
      }

      .control-button {
        display: inline-block;
        white-space: nowrap;
        text-align: center;
        border: 1px solid #E7E9E8;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        -moz-user-select: none;
        user-select: none;
        touch-action: manipulation;
        outline: 0;
        height: 24px;
        padding: 0 7px;
        line-height: 1.15;
        box-shadow: none;
        text-shadow: none;
        border-radius: 6px;
        font-weight: 500;
        color: #262626;
        background: #ffffff;
        font-size: 12px;
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -12px;
        cursor: pointer;
      }

      .control-button, .control-button:focus, .control-button:hover {
        box-shadow: none;
        background-image: none;
      }

      .control-button:focus, .control-button:hover {
        color: #009456;
        background: #ffffff;
        border-color: #009456;
      }
    }

    .mobile-setting-form {
      margin-top: 0;
    }

    .thirdAccount-setting-form {
      margin-top: 56px;

      .setting-subtitle {
        line-height: 24px;
        font-weight: 500;
        color: #262626;
        font-size: 16px;
        text-align: inherit;
        margin: 0px 0px 6px;
      }

      .subtitle-tip {
        line-height: 22px;
        color: #8A8F8D;
      }

      .third-binding-list {
        margin-top: 16px;
        margin-left: -16px;
        display: flex;
        flex-direction: row;
        color: #000000;

        .third-binding-item {
          background-color: #FAFAFA;
          border-radius: 8px;
          height: 46px;
          line-height: 46px;
          padding: 0 16px;
          flex: auto;
          margin-left: 16px;
          display: flex;
          justify-content: space-between;
          white-space: nowrap;

          .bind-text {
            display: flex;
            justify-content: center;

            .iconfont {
              font-size: 20px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

.account-set-modal {
  .header {
    color: rgba(0,0,0,0.85);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    word-wrap: break-word;
    margin: 0 8px 4px 8px;
  }

  .warn {
    color: #8A8F8D;
    margin: 0 8px 35px 8px;
  }

  .select-option {
    margin: 0 8px 10px 8px;
  }

  .validation {
    margin: 15px 8px 10px 8px;
  }

}

/deep/.ant-select-focused .ant-select-selection, /deep/.ant-select-selection:focus,
/deep/.ant-select-selection:active, /deep/.ant-select-selection:hover {
  border-color: #00B96B;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: none;
}

/deep/.ant-select-selection-selected-value {
  font-size: 14px;
  color: #262626;
}

/deep/.ant-select-dropdown-menu-item-selected {
  color: #262626;
  background: #eff0f0;
}

/deep/.ant-select-dropdown {
  .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #F5F5F5;
  }
}

/deep/.option-item {
  color: #262626;
}
