@import '../common-var.less';

.layout-module_domain {
  max-width: 100%;
  margin: 0 10px;

  .userInfo-module_userWrapper {
    display: flex;
    margin-top: 48px;

    .userInfo-module_avatarWrapper {
      position: relative;

      .ant-image {
        display: block;

        .userInfo-module_avatar {
          height: 164px;
          width: 164px;
          min-width: 164px;
          border-radius: 82px;
          border-color: rgba(0, 0, 0, 0.06);
          border-width: 1px;
          border-style: solid;
          overflow: hidden;
          position: relative;
          background-color: #FFFFFF;
        }
      }
    }

    .userInfo-module_info {
      margin-left: 52px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .userInfo-module_name {
        display: flex;
        align-items: center;

        .userInfo-module_nickname {
          font-size: 24px;
          color: #262626;
          line-height: 32px;
          font-weight: 600;
          margin-top: 12px;
        }

        .userInfo-module_level {
          text-align: center;
          cursor: pointer;
          position: relative !important;
          top: 0 !important;
          right: 0;
          width: 25px;
          height: 25px;
          margin-left: 5px;
          padding-bottom: 50px;

          .iconfont {
            font-size: 25px;
          }
        }

      }

      .userInfo-module_tag {
        margin: 10px 0 5px 0;
      }

      .userInfo-module_description {
        font-size: 14px;
        color: #585A5A;
        line-height: 22px;
        font-weight: 400;
        margin-top: 12px;
      }

      .userInfo-module_detail {
        font-size: 14px;
        color: #8A8F8D;
        display: flex;
        margin-top: 16px;

        span {
          margin-right: 13px;
        }

        .index-module_meta {
          display: flex;
          line-height: 22px;
        }
      }

      .userInfo-module_followInfo {
        margin-top: 22px;
        display: flex;
        align-items: center;

        .userInfo-module_followItem {
          margin-right: 28px;
          display: flex;
          align-items: center;

          .userInfo-module_count {
            font-size: 18px;
            color: #585A5A;
            line-height: 26px;
            font-weight: 700;
            margin-right: 8px;
          }

          .userInfo-module_label {
            font-size: 14px;
            color: #8A8F8D;
            text-align: center;
            line-height: 26px;
            font-weight: 400;
          }
        }

        .userInfo-module_followingFollowers {
          display: none;
        }
      }
    }
  }

  .readme-module_userBoardParent {
    margin-top: 64px;
    margin-bottom: 40px;

    .readme-module_empty {
      cursor: pointer;
      border: 1px dashed #BEC0BF;
      height: 135px;
      border-radius: 8px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .readme-module_emptyTitle {
        font-size: 16px;
        color: #262626;
        letter-spacing: 0;
        line-height: 24px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 12px;
      }

      .readme-module_emptyDesc {
        font-size: 14px;
        color: #BEC0BF;
        letter-spacing: 0;
        text-align: center;
        font-weight: 400;
      }
    }

    .readme-module_empty:hover {
      border: 1px dashed #00B96B;
    }

    .readme-module_editor {
      width: 100%;
      min-height: 223px;
      position: relative;

      .editorBase-module_editor {
        position: relative;
        height: 100%;
        border: 1px solid #E7E9E8;
        border-radius: 4px;

        .layout-mode-adapt {
          position: relative;
          display: flex;
          height: auto;
          border-radius: 4px;
          margin-top: 5px;
          flex-direction: column;

          .toolbar-ui {
            position: static;
            z-index: auto;

            .editor-toolbar {
              border: none;
              padding-left: 8px;
            }
            /deep/ .editor-toolbar-content {
              justify-content: unset;
            }
          }

          .editor-body {
            height: auto;
            position: relative;

            .editor-wrapper {
              position: relative;
              overflow-anchor: none;
              display: flex;
              height: auto;
              overflow: visible;
              padding-top: 0;

              .editor-wrap-content {
                flex: 1;
                width: 100%;
                min-width: auto;
                margin: 0;

                .editor-outer-wrap-box {
                  width: auto;
                  min-width: auto;
                  padding-bottom: 0;

                  .editor-wrap-box {
                    border: none;
                    box-shadow: none;
                    background: none;
                    margin-bottom: 0;

                    .readme-editor {
                      padding: 16px 24px 8px 24px;
                      min-height: 188px;
                      background: none;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .readme-module_action {
        margin-top: 7px;

        .readme-module_submitBtn {
          position: relative;
          display: inline-block;
          white-space: nowrap;
          text-align: center;
          border: 1px solid transparent;
          cursor: pointer;
          transition: all .3s cubic-bezier(.645, .045, .355, 1);
          touch-action: manipulation;
          height: 32px;
          padding: 4px 15px;
          font-size: 14px;
          margin-right: 12px;
          line-height: 1.15;
          box-shadow: none;
          text-shadow: none;
          border-radius: 6px;
          font-weight: 500;
          outline: 0;
          color: #FFFFFF;
          background: #00B96B;
          border-color: #00B96B;
        }

        .readme-module_submitBtn:hover, .readme-module_submitBtn:focus, .readme-module_submitBtn:active {
          background: #009456;
          border-color: #009456;
        }

        .readme-module_submitBtn[disabled], .readme-module_submitBtn[disabled]:active,
        .readme-module_submitBtn[disabled]:focus, .readme-module_submitBtn[disabled]:hover {
          opacity: .3;
          color: #FFFFFF;
          background: #00B96B;
          border-color: #00B96B;
          text-shadow: none;
          box-shadow: none;
        }

        .readme-module_cancel {
          color: #585A5A;
          font-size: 14px;
        }
      }
    }
  }

}

// 第三方插件样式覆盖
/deep/ .data-link-editor {
  p {
    .ant-input:focus {
      border-color: #00AE9D;
      box-shadow: none !important;
    }
    .ant-input:hover {
      border-color: #00AE9D;
    }
  }
}

/deep/ .data-toolbar-group .table-color-dropdown-trigger {
  button {
    height: 28px;
    display: flex;
    align-items: center;
  }
}

/deep/ .data-toolbar-group .data-toolbar-item {
  .data-toolbar-btn {
    justify-content: center;
  }
}

/deep/.am-engine>:not(p) {
  margin: 15px 0;
}

/deep/.am-engine>p {
  margin: 8px 0;
}

/deep/.am-engine>ul {
  margin: 8px 0;
  li {
    margin: 8px 0;
  }
  li:not(.data-list-item) {
    margin: 8px 0  8px 15px;
  }
}

/deep/.am-engine>ol {
  margin: 8px 0;
  li {
    margin: 8px 0 8px 25px;
  }
}

/deep/.am-engine>h2 {
  margin: 13px 0;
}

/deep/.am-engine>h3 {
  margin: 11px 0;
}

/deep/.am-engine>h4 {
  margin: 9px 0;
}

/deep/.am-engine>h5 {
  margin: 8px 0;
}

/deep/.am-engine>h6 {
  margin: 8px 0;
}
