@import '../common-var.less';
.layout-module_profile {

  .setting-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #262626;
    position: -webkit-sticky;
    position: sticky;
    padding: 48px 0 28px;
    top: 0;
    left: 0;
    text-align: inherit;
    margin: 0;
  }

  .settings-form {
    .setting-legacy-form {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: rgba(0, 0, 0, .85);
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      font-feature-settings: "tnum";

      .setting-legacy-form-item {
        display: block;
        box-sizing: border-box;
        margin: 0 0 5px 0;
        padding: 0;
        color: rgba(0, 0, 0, .85);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: "tnum";
        vertical-align: top;
        color: #262626;
        row-gap: 0px;

        .setting-form-item-label {
          position: relative;
          width: 100%;
          min-height: 1px;
          display: inline-block;
          overflow: hidden;
          line-height: 20px;
          white-space: nowrap;
          text-align: left;
          vertical-align: middle;
          flex-grow: 0;
          padding-bottom: 10px;

          label {
            width: 100%;
            font-size: 14px;
            position: relative;
            color: #585A5A;
            margin: unset!important;

            .form-item-required {
              color: #DF2A3F;
            }

            .textarea-words-count {
              float: right;
              color: #8A8F8D;
              font-size: 13px;
            }
          }
        }

        .setting-legacy-form-item-control-wrapper {
          position: relative;
          max-width: 100%;
          min-height: 20px;
          font-size: 14px;

          .avatar-uploader-control {
            display: flex;
            align-items: center;

            .avatar-uploader-show {
              width: 80px;
              min-width: 80px;
              height: 80px;
              border-radius: 50%;
            }

            .avatar-uploader-btn-wrapper {
              margin-left: 10px;

              /deep/ .ivu-upload-drag, .ivu-upload-drag:hover{
                border: none;
                background: none;
              }

              .avatar-uploader-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 25px;
                margin-left: 20px;
                border-radius: 6px;
                border: 1px solid #E7E9E8;
              }

              .avatar-uploader-btn:hover {
                border-color: @border-color_hover;
              }
            }

            .avatar-uploader-tip {
              color: #8A8F8D;
              line-height: 1.5;
              overflow: hidden;
              margin: 9px 0 0 9px;
              font-size: 12px;
            }
          }
          .control-input {
            box-sizing: border-box;
            margin: 0;
            font-variant: tabular-nums;
            list-style: none;
            font-feature-settings: "tnum";
            position: relative;
            display: inline-block;
            width: 100%;
            min-width: 0;
            color: #262626;
            font-size: 14px;
            line-height: 1.5715;
            background: none;
            border: 1px solid #E7E9E8;
            border-radius: 6px;
            transition: all .3s;
            touch-action: manipulation;
            -webkit-appearance: none;
            padding: 6.5px 11px;
          }

          .nickname-editor-control {
            position: relative;

            .nickName-module_input {
              line-height: 30px;
              width: 322px;
              padding: 4px 11px;
              border-radius: 5px;
              outline: none !important;
            }
          }

          .biography-editor-control {
            position: relative;

            .biography-module_textarea {
              margin: 0 0 4px 0;
              padding: 4px 11px;
              max-width: 100%;
              min-height: 32px;
              vertical-align: bottom;
              transition: all .3s,height 0s;
              height: 103px;
            }
          }

          .location-editor-control {
            position: relative;
            line-height: 40px;
          }

          .profession-editor-control {
            position: relative;
            line-height: 40px;
          }

          .tag-add-control {
            position: relative;
            //line-height: 40px;
            display: flex;
            align-items: center;
            justify-content: left;
            padding: 5px 6px 25px;

            .ant-tag {
              display: flex;
              line-height: 24.5px;
              align-items: center;
              justify-content: center;

              .ivu-input:focus {
                border-color: #0BD07D;
                outline: 0;
                box-shadow: none;
              }
            }
          }

          .item-border:focus-visible {
            outline: none;
          }

          .item-border:focus,.item-border:hover,.item-border:active {
            border-color: #0BD07D;
          }

          .error-editor-control,.error-editor-control:hover,.error-editor-control:active,error-editor-control:focus {
            border-color: #FF4D4F!important;
          }

          .setting-legacy-form-explain {
            clear: both;
            color: #ff4d4f;
            margin-top: 4px;
            margin-bottom: -1px;
            min-height: 23px;
            font-size: 14px;
            line-height: 1.5715;
            transition: color .3s cubic-bezier(.215,.61,.355,1);
          }
        }
      }

      .setting-legacy-form-item-wrapper {
        row-gap: 0px;
        display: flex;
        flex-flow: row wrap;

        .setting-legacy-form-item {
          width: 46%;
        }
      }

      .legacy-form-item-avatar {
        margin-bottom: 25px;
      }

      .legacy-form-item-profession {
        margin-left: 8%;
      }

      .legacy-form-item-btn {
        margin-top: 25px;
      }
    }
  }
}

.avatar-cropper {
  width: 470px;
  height: 336px;
  display: flex;
  margin: 10px;
  justify-content: space-between;
  .crop-box {
    width: 320px;
    height: 320px;
    border-radius: 4px;
    overflow: hidden;
  }
  .avatar-preview {
    height: 320px;
    width: 120px;
    .img {
      width: 120px;
      height: 120px;
      border-radius: 3px;
    }
    .alt {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
  }
}

.image-cropper_action {
  margin: 10px;

  .avatar-upload-select-text {
    margin: 0;
    padding: 0;
    color: #262626;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    outline: 0;
    display: inline-block;
    box-sizing: border-box;

    .avatar-upload-button {
      touch-action: manipulation;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: #262626;
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      font-feature-settings: "tnum";
      outline: 0;

      .custom-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #E7E9E8;
        cursor: pointer;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        touch-action: manipulation;
        height: 32px;
        padding: 4px 15px;
        font-size: 14px;
        line-height: 1.15;
        box-shadow: none;
        text-shadow: none;
        border-radius: 6px;
        font-weight: 500;
        box-sizing: border-box;
        color: #262626;

        .text {
          display: inline-block;
          vertical-align: middle;
          margin-left: 4px;
        }
      }
      .custom-btn:focus, .custom-btn:hover {
        box-shadow: none;
        outline: 0;
        border-color: #009456;
      }
    }
  }
}

/deep/ .tag-color-tooltip {
  padding-top: 0 !important;
}

/deep/ .ant-tooltip-placement-top {
  padding-bottom: 0 !important;
}

/deep/.ant-tooltip-inner {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.75);
  min-width: unset;
  min-height: unset;
  padding: 0;

  .tag-color-btn {
    width: 32px;
    height: 26px;
    border-radius: 3px;

    .hazy {
      width: 32px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255,255,255,0.5);
    }
  }
}

/deep/ .ant-tooltip-arrow {
  display: none;
}

/deep/ .tag-input {

  .ivu-input {
    border-color: #0BD07D;
    outline: none;
    box-shadow: none;
  }
}
