
.comment {
  display: flex;
  padding: 16px 0;

  a:hover {
    text-decoration: none;
  }

  .u-icon {
    font-size: 16px;
  }

  &-primary {
    flex: 1;
    margin-left: 16px;
    overflow: hidden;
  }
}

.comment-main {
  margin-right: 12px;
  .user-info {
    display: flex;
    align-items: center;

    .username {
      display: flex;
      align-items: center;

      .name {
        max-width: 10px;
        font-weight: 500;
        font-size: 15px;
        color: #262626;
        line-height: 32px;
        margin-right: 4px;
      }

      .rank {
        .iconfont {
          font-size: 22px;
        }
      }
    }

    .time {
      margin-left: auto;
      font-size: 14px;
      line-height: 22px;
      color: #8a919f;
    }
  }
}

.action-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .like-and-reply {
    display: flex;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 16px;
      font-size: 15px;
      cursor: pointer;
      color: #8A8F8D;

      .iconfont {
        margin-right: 4px;
        font-size: 15px;
      }

      .reply-btn {
        font-size: 14px;
      }
    }

    .item:nth-child(1) {
      .iconfont:hover {
        color: @like-color;
      }
    }

    .item:nth-child(2):hover,
    .active {
      color: #409eff;
    }
  }
}

/deep/ .operate-more {
  padding: 0 !important;


  .ant-popover-inner {
    width: 120px;
  }

  .ant-popover-inner:hover {
    background: #FAFAFA;
  }

  .ant-popover-arrow {
    display: none;
  }
}


.u-fold {
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  color: inherit;

  .txt-box {
    margin-top: 5px;
    // 会对过长的单词做词内断词处理，这样单词始终会在容器中，不会溢出容器
    word-wrap: break-word;
  }

  .action-box {
    margin: 5px 0;
    .expand-btn {
      display: inline-block;
      line-height: 22px;
      cursor: pointer;
      color: #117CEE;
    }
  }

  .over-hidden {
    //象作为弹性伸缩盒子模型显示。
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    //设置或检索伸缩盒对象的子元素的排列方式。
    -webkit-box-orient: vertical;
    //用来限制在一个块元素显示的文本的行数。
    -webkit-line-clamp: 5;
  }
}


.reply-from-comment {
    margin-left: 12px;
    padding: 0;

  .comment-main {
    margin-right: 0;
  }
}

.reply-from-comment:not(:first-child) {
  margin-top: 1rem;
}

/deep/.user-info-card-box {

  .ant-popover-arrow {
    display: none;
  }

  .user-info-card {
    display: flex;
    margin: 15px 10px;
    justify-content: space-around;

    .user-avatar {
      margin-right: 15px;
    }

    .user-content {
      font-size: 16px;
      a {
        color: #585A5A;
      }

      .user-info {
        margin-bottom: 10px;
        .name {
          margin-right: 5px;
        }
        .iconfont {
          font-size: 20px;
        }
      }

      .social-info {
        margin-bottom: 15px;
        font-size: 14px;

        a {
          color: #8A8F8D;
        }

        .attention, .follower {
          margin-right: 8px;
        }
      }

      .card-btn {
        button:first-child {
          margin-right: 12px;
        }
      }
    }
  }
}
