.bottom-control {
  border-top: 1px solid #ddd;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 5px;
  z-index: 10000;
  background-color: #ffffff;

  .left {
    display: flex;
    align-items: center;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      overflow: hidden;
      margin-right: 10px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }


    .musicInfo {
      color: rgb(37, 37, 37);
      font-size: 13px;
      width: 70px;

      .musicName {
        margin-bottom: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .singer {
        transform: scale(0.9);
        margin-left: -3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
      }
    }
  }

  .center {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .buttons {
      display: flex;
      align-items: center;
      height: 13px;

      i {
        font-size: 20px;
        color: #313131;
      }

      span {
        display: inline-block;
        width: 35.1px;
        box-sizing: border-box;
        text-align: center;
      }

      span:nth-child(3) i {
        font-size: 25px;
      }
    }

    .progressBar {
      display: flex;
      align-items: center;
      height: 10px;
      margin-top: 12px;
      overflow: hidden;

      .currentTime,
      .totalTime {
        font-size: 12px;
        transform: scale(0.9);
        color: #aaa;
        width: 32px;
        text-align: center;
      }

      .progress-wrapp {
        margin: 0 2px;
      }

      .totalProgress{
        //margin: 0 6px;
        cursor: pointer;
        width: 134px;
        height: 6px;
        background-color: #c6c6c6;
        border-radius: 10px;
        -webkit-border-top-left-radius:10px ;
        -webkit-border-bottom-left-radius: 10px;
      }

      .currentProgress{
        width: 0;
        height: 100%;
        border-radius: 10px;
        background-color: red;
        -webkit-border-top-left-radius:10px ;
        -webkit-border-bottom-left-radius: 10px;
      }
    }
  }


  .right {
    display: flex;
    align-items: center;
    position: relative;
  }

}

// tip提示在MusicIndex下与bottom-control平级
.volume-controller {
  padding: 0;
  /deep/.tooltip-inner {
    background-color: transparent !important;
    padding: 0;
  }
  /deep/.arrow::before {
    display: none;
  }
  .volume-input {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 6px;
    height: 80px;
  }
}




.volumeControl {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.icon-yinliang {
  font-size: 18px;
  margin-right: 7px;
}

.volumeSlider {
  width: 55px;
}

.icon-bofangliebiao {
  font-size: 18px;
  margin-right: 10px;
}

.icon-zantingtingzhi {
  font-size: 35px !important;
}

.drawerHeader {
  font-size: 12px;
  transform: scale(0.9);
  color: #aaa;
  padding: 15px 0;
}






.downloadContainer {
  height: 100%;
  position: relative;
}

.downloadContainer i {
  position: absolute;
  bottom: 5px;
}

.recondInfo {
  position: absolute;
  font-size: 12px;
  transform: scale(0.8);
  width: 140px;
  right: -5px;
  bottom: -5px;
}

.center .icon-suiji1 {
  font-size: 15px;
}
