.container {
  //width: auto;
  height: auto;
  padding-left: 1px;
  padding-right: 1px;
  margin-right: 1px;
  background: #fff;
  margin-bottom: 1px;
  line-height: 1.5;

  .top-show {
    border-style: solid;
    border-width: 6px;
    border-color: #F4F5F7;

    .top {
      margin-bottom: 30px;
    }

    ul > a {
      color: #595959;
      font-size: 14px;
    }

    ul > a:hover {
      color: #595959;
      border-bottom: 0px solid #E5E5E5
    }

    ul > a.ivu-menu-item-active {
      color: #262626;
      font-weight: 900;
      border-bottom: 2px solid #262626;
    }
  }

  .hosted {
    border-style: solid;
    border-width: 6px;
    border-color: #F4F5F7;
    padding-right: 0;
    padding-left: 0;

    .text {
      color: #262626;
      font-weight: 900;
      margin-left: 30px;

      .more {
        font-weight: normal;
        font-size: 12px;
        float: right;
        margin-right: 65px;
        color: #979595;
      }

      hr {
        margin-top: 15px;
        width: 83%;
      }
    }

    .featured-notes {
      margin-top: 50px;
    }

    .swipe {
      margin-top: 20px;
      margin-bottom: 25px;
      margin-left: 15px;
    }

    .topic {
      width: 80%;
      margin-left: 30px;
      margin-top: 10px;
      margin-bottom: 10px;

      .list-group-item {
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 10px;

        .title {
          color: #262626;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 3px;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .desc {
          margin-bottom: 5px;
          color: #8c8c8c;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .rank {
      width: 80%;
      margin-left: 15px;
      margin-top: 20px;

      .list-group-item {
        border: none;
      }

      .b-avatar {
        width: 3rem;
        height: 3rem;
        float: left;
        margin-top: 0.5rem;
      }

      .info {
        margin-left: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 3px;

        .row {
          margin-left: 0;
          margin-right: 0;
        }

        .nick-name {
          font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial;
          width: auto;
          margin-top: 6px;
          margin-right: 5px;
          font-size: 16px;
          font-weight: 400;
          color: #333;
          display: block;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .iconfont {
          font-size: 25px;
        }

        .tag {
          color: #8c8c8c;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .persona-lization {
      width: 100%;
      border-style: solid hidden hidden hidden;
      border-width: 10px;
      border-color: #F4F5F7;
      margin-top: 15px;

      .dev-status {
        margin-top: 15px;
        margin-left: 24px;
        font-size: 14px;
        font-weight: 700;

        span {
          margin-left: 8px;
        }

        hr {
          margin-top: 10px;
          margin-left: 8px;
          width: 85%;
        }

        .content {
          width: 90%;
          vertical-align: baseline;
          word-break: break-word;
          display: block;

          #i-ann-content {
            position: relative;
            :hover {
              border-color: #25b864;
              border-style: solid;
              border-width: 1px;
              .be-input-word-counter {
                border: none;
              }
            }

            .be-textarea_inner {
              display: block;
              width: 100%;
              padding: 8px 0 0 8px;
              outline: none;
              resize: none;
              transition: all .3s ease;
              line-height: 21px;
            }

            textarea {
              border-color: #FFFFFF;
              border-style: solid;
              border-width: 1px;
              width: 306px;
              height: 152px;
              color: #6d757a;
              font-size: 13px;
              font-family: Microsoft Yahei;
              border-radius: 4px;
            }
          }

          .be-input-word-counter {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 30px;
            min-width: 40px;
            padding: 0 10px;
            line-height: 30px;
            text-align: center;
            font-size: 12px;
            //color: #FFFFFF;
          }
        }
      }

    }
  }

  .to-top {
    padding: 10px;
    color: #8c8c8c;
    text-align: center;
    font-size: 35px;
    position: fixed;
    cursor: pointer;
    right: 10px;

    :hover {
      //background-color: #25b864;

    }
  }

}
