// 青绿色
@background-color-base: rgba(73, 199, 185, 0.85);

@editor-button-color: #00B96B;

// 字体颜色
@light-font-color: #595959;
@font-hover: #43C8EC;
@dark-font-color: #262626;

// 边框颜色
@border-color_normal: #9e9d9d;

@border-color_hover: #00AE9D;

@badge_color: #F44336;

// hover颜色
@editor-item-hover: #EFF0F0;

@like-color: #FAAD14;



