.editor-wrapp {
  /* 弹性布局，水平垂直居中 */
  height: 100vh;
  display: flex;
  //justify-content: center;
  //align-items: center;
  background: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% auto;
  // 固定在屏幕上，不随滚动轴滚动
  background-attachment: fixed;

  .container {
    width: 50%;
    height: 650px;
    position: relative;
  }
}



