.header-row {
  width: 100%;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  // 外间距
  margin-bottom: 12px;
  justify-content: center;
  // 当点击搜索框时的ui效果，绿色边框加输入框向右扩展
  .changeColor {
    .index-module_input {
      border: 1px solid #25b864;
      margin-right: 40px;
    }
  }

  // 下面兩個css屬性表示在输入框hover时的状态
  .index-module_input {
    border: var(--border);
  }

  .index-module_input:hover {
    border: var(--border-hover);
  }

  .index-module_input {
    width: 160px;
    -webkit-transition: width .1s ease-in-out;
    transition: width .1s ease-in-out;
    cursor: default !important;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4.5px 11px;
    color: #595959;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    transition: all .3s;
    display: inline-flex;

    .search-input {
      padding: 0;
      border: none;
      outline: none;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-variant: tabular-nums;
      list-style: none;
      font-feature-settings: "tnum";
      position: relative;
      display: inline-block;
      width: 100%;
      min-width: 0;
      color: #595959;
      font-size: 14px;
      line-height: 1.5;
      border-radius: 4px;
      transition: all .3s;
      background-color: transparent;
    }

    .search-input:placeholder-shown {
      text-overflow: ellipsis;
    }
  }

  .navbar {
    //background-color: #FFFFFF;
    //padding: 0.5rem 0 0 0;
    .navbar-brand {
      padding: 0;
    }
    #logo {
      height: 32px;
    }

    #title {
      color: #262626;
      font-size: 15px;
      font-weight: 800;
      margin-right: 30px;
    }
  }

  .navbar-toggler {
    background-color: #FFFFFF;
    width: 40px;
  }

  // 菜单栏
  .menu {
    font-size: 14px;
    margin-left: 8px;

    .mr-2 {
      span {
        color: #595959
      }
    }
  }

  // 登陆注册
  .login-regist {
    .login {
      width: auto;
      border: 1px solid #9e9d9d;
      color: #535353;
      margin: 0 10px 0 55px;
    }
    :hover {
      border: 1px solid #25b864;
      color: #25b864
    }
  }

  // 公用部分
  .charge {
    background: #25b864;
    border-radius:3px;
    .btn {
      height: 30.8px;
      padding: 0 6px 0 6px;
      //border-radius:3px;
    }
    .icon-charge {
      font-size: 19px;
      margin-right: 3px;
    }
    .write {
      color: #FFFFFF;
    }
  }
}
