.header-row {
  width: 100%;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  //padding: 0 15px;
  // 水平居中
  justify-content: center;
  // 垂直居中
  align-items: center;

  .navbar {
    padding: 0;

    .icon-logo {
      font-size: 1.3rem;
    }

    #title {
      color: var(--title-color);
      font-size: 1.1rem;
      font-weight: 800;
      margin-right: 20px;
    }
  }

  // 当点击搜索框时的ui效果，绿色边框加输入框向右扩展
  .changeColor {
    .index-module_input {
      border: 1px solid @border-color_hover;
      margin-right: 40px;

      .iconfont {
        color: #262626;
      }
    }
  }

  // 下面兩個css屬性表示在输入框hover时的状态
  .index-module_input {
    border: 1px solid #9e9d9d;
  }

  .index-module_input:hover {
    border: 1px solid #00AE9D;
  }

  .index-module_input {
    width: 160px;
    -webkit-transition: width .1s ease-in-out;
    transition: width .1s ease-in-out;
    cursor: default !important;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4.5px 11px;
    color: var(--font-color);
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    transition: all .3s;
    display: inline-flex;

    .search-input {
      padding: 0;
      border: none;
      outline: none;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-variant: tabular-nums;
      list-style: none;
      font-feature-settings: "tnum";
      position: relative;
      display: inline-block;
      width: 100%;
      min-width: 0;
      color: var(--font-color);
      font-size: 14px;
      line-height: 1.5;
      border-radius: 4px;
      transition: all .3s;
      background-color: transparent;
    }

    .search-input:placeholder-shown {
      text-overflow: ellipsis;
    }
  }

  .navbar-toggler {
    background-color: #FFFFFF;
    width: 40px;
    padding: 0;
  }

  .navbar-collapse {
    height: 65px;
  }

  // 菜单栏
  .menu {
    font-size: 15px;
    margin: 0 20px 0 20px;

    .mr-2 {
      span {
        color: var(--font-color);
      }
    }
  }

  // 已登录
  .user-info {
    margin-right: 5px;

    .avatar {
      /deep/ .ivu-select-dropdown {
        border-radius: 8px;

        .ivu-dropdown-menu {
          text-align: left;
          min-width: 250px;

          .ivu-dropdown-item {
            padding: 2px 16px;
            margin-bottom: 5px;
          }

          .ivu-dropdown-item:hover {
            background: unset;
          }

          .quick-start-item {
            height: 38px;
            display: flex;
            align-items: center;
          }

          .quick-start-item:hover {
            background: #f3f3f3;
            border-radius: 4px;
          }

          .nickName {
            margin-top: 5px;
            width: auto;
            font-size: 14px;
            font-weight: 400;
            color: var(--title-color);
            justify-content: center;
          }

          .nickName:hover, .levelBar:hover, .counter:hover {
            background: unset;
          }

          .levelBar {
            justify-content: center;
            flex-direction: column;
            margin-bottom: 10px;

            .level-bar-progress {
              display: flex;
              align-content: center;

              .iconfont {
                font-size: 25px;
              }

              .progress-wrapp {
                margin: auto 2px;

                .totalProgress{
                  cursor: pointer;
                  width: 185px;
                  height: 2px;
                  background-color: #c6c6c6;
                  border-radius: 2px;
                }

                .currentProgress{
                  width: 0;
                  height: 2px;
                  border-radius: 2px;
                  background-color: #f3cb85;
                }
              }
            }

            .level-bar-text {
              color: #8A8F8D;
              font-size: 12px;
            }
          }

          .counter {
            justify-content: space-between;
            padding: 0 10px;
            margin-bottom: 5px;

            .single-count-item {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: space-between;
              transition: color .2s;

              .count-num {
                font-weight: 600;
                color: #262626;
              }

              .count-text {
                color: #8A8F8D;
                font-weight: 400;
                font-size: 12px;
                transition: color .2s;
              }
            }
          }

          .routing-menu {
            color: #262626;

            .routing-content {
              margin-left: 6px;
            }

            .icon-topic-doc,.icon-user-domain,.icon-data-stats,.icon-login-out {
              margin-left: 10px;
            }

            .icon-more {
              font-size: 12px;
              margin-left: 125px;
            }
          }
        }
      }
    }

    .msg {
      .nav-link {
        text-decoration:none;
        :hover {
          text-decoration:none;
        }
        :visited {
          text-decoration:none;
        }
        :focus {
          text-decoration:none;
        }

      }

      .message-menu-wrapper {
        display: flex;
        align-items: center;
        width: 47px;
        height: 40px;

        .message-menu-body {
          .c-badge {
            background: @badge_color;
            border: 3px solid @badge_color;
            border-radius: 100%;
            position: absolute;
            right: 10px;
          }
          span {
            font-size: 15px;
            color: var(--font-color);
          }
        }
      }

      .msg-badge {
        margin-left: 5px;
        width: 35px;
        height: 8px;
      }

      /deep/ .ivu-select-dropdown {
        border-radius: 8px;

        .ivu-dropdown-menu {
          text-align: left;
          min-width: 160px;
          padding: 5px 0;

          .ivu-dropdown-item {
            position: relative;
            display: flex;
            align-items: center;
            padding: 10px 0 10px 24px;
            text-align: left;
            font-size: 14px;
            transition: background-color .3s;
          }


          .quick-start-item {
            font-size: 14px;
            color: var(--title-color);
            display: flex;
            align-items: center;

            .msg-item-badge {
              position: absolute;
              right: 24px;
              //padding-left: 10px;
            }
          }

        }
      }
    }
  }

  // 登陆注册
  .login-register {
    padding: 0 10px 0 20px;

    .login {
      width: auto;
      border: 1px solid #9e9d9d;
      color: var(--font-color);
      margin: 0 10px 0 25px;
    }

    .btn {
      line-height: 29px;
      padding: 0 8px 0 8px !important;
      border-radius: 3px;
    }

    :hover {
      border: 1px solid @border-color_hover;
      color: @border-color_hover;
    }
  }

  // 公用部分
  .charge {
    background: @border-color_hover;
    border-radius: 3px;

    .btn {
      height: 31px;
      padding: 0 8px 0 8px !important;
      border-radius: 3px;
    }

    .icon-charge {
      font-size: 19px;
      margin-right: 3px;
    }

    .write {
      color: #FFFFFF;
    }
  }
}

.navbar-nav {
 align-items: center;
}
