.layout-message-notification {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #262626;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  display: flex;
  overflow: hidden;

  .msg-notify-menu {
    margin-top: 16px;
    padding-right: 16px;
    height: 610px;
    position: relative;
    display: flex;
    flex: none;
    align-items: center;
    flex-direction: column;
    min-width: 50px;

    .fixed-anchor-point {
      color: #262626;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 10px;
      height: 38px;
      width: 100%;
      display: flex;
      justify-content: center;
      cursor: pointer;

      .item {
        justify-content: center;
        margin: 0 20px;
      }

      .iconfont {
        margin-right: 5px;
      }
    }

    .menu-item {
      height: 38px;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      cursor: pointer;

      .item {
        width: 100%;
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;

        :first-child {
          margin-right: 10px;
        }

        .count {
          color: #8A8F8D;
          font-weight: 600;
          font-size: 12px;
        }
      }

      .item:hover, .active-menu {
        background: #eff0f0;
        border-radius: 6px;
      }
    }

    .msg-setting .item {
      .iconfont {
        margin-right: 8px;
      }

      justify-content: left;
    }

    .item-line {
      justify-content: left;
      height: 20px;
      margin-top: 25px;

      .line {
        height: 1px;
        width: 100%;
        background: #b1b6b4;
      }
    }
  }

  .msg-notify-body {
    margin-left: -1px;
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    flex: auto;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;

    .module-tabs-wrapper {
      display: flex;
      width: 100%;

      .module-tabs-tabpane-active {
        flex: none;
        width: 100%;
        outline: none;
        min-height: 400px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #262626;
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: "tnum", "tnum";
        position: relative;
        background: #ffffff;
        border-radius: 6px;

        .tabs-tabpane-head {
          min-height: 52px;
          color: rgba(0, 0, 0, 0.85);
          font-weight: 500;
          background: transparent;
          border-radius: 6px 6px 0 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid rgba(0, 0, 0, 0.06);
          font-size: 14px;

          .active-tab {
            margin-left: 15px;
          }

          .all-read-action {
            float: right;
            margin-right: 46px;
            color: #585A5A;
            font-weight: 400;
            cursor: pointer;
          }

          .all-read-action:hover {
            color: #262626;
          }
        }

        .tabs-notify-holder {
          box-sizing: border-box;
          color: #262626;
          font-size: 14px;
          font-variant: tabular-nums;
          line-height: 1.5715;
          list-style: none;
          font-feature-settings: "tnum", "tnum";
          position: relative;
          background: transparent;
          max-height: 570px;
          height: 570px;
          border-radius: 0;

          .tab-list-items {
            margin: 0;
            padding: 0;
            list-style: none;
            outline: none;

            .tab-list-item {
              display: block;

              .notification-item {
                display: flex;
                background-color: #ffffff;
                transition: background-color .3s ease;
                word-break: break-word;
                position: relative;
                padding: 16px;

                .avatar {
                  margin-top: 2px;
                }

                .item-content {
                  color: #8A8F8D;
                  margin-left: 12px;
                  font-size: 14px;
                  word-wrap: break-word;
                  overflow: hidden;
                  width: 100%;

                  p {
                    margin-bottom: 0;
                    max-width: 534px;

                    .context-actor {
                      font-weight: 600;
                      color: #262626;
                    }

                    .context-subject {
                      font-weight: 400;
                      color: #262626;
                    }

                    .sys-msg-label {
                      color: #1389bf;
                    }

                    .context-actor:hover, .context-subject:hover {
                      color: #585A5A;
                    }

                    /deep/ .ivu-badge > .ivu-badge-dot {
                      height: 6px;
                      width: 6px;
                    }
                  }

                  time {
                    font-size: 12px;
                  }
                }
              }

              .notification-item:hover {
                background-color: #FAFAFA;
              }
            }
          }
        }

        .tabs-message-holder {
          position: relative;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          max-height: 570px;
          height: 570px;
          overflow: hidden !important;

          .lovbe-im {
            background-color: #fff;
            -webkit-box-shadow: 0 2px 4px 0 rgba(121, 146, 185, 0.54);
            box-shadow: 0 2px 4px 0 rgba(121, 146, 185, 0.54);
            border-radius: 4px;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative;

            .session-list {
              width: 180px;
              border-right: 1px solid #e9eaec;
              position: relative;

              .list-container {
                position: relative;

                .list-item {
                  width: 100%;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: horizontal;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  padding: 17px 20px;
                  position: relative;
                  overflow: hidden;
                  cursor: pointer;

                  .avatar {
                    margin-right: 12px;
                    margin-top: 2px;
                  }

                  .name-box {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;

                    .name {
                      width: 110px;
                      display: -webkit-box;
                      display: -ms-flexbox;
                      display: flex;
                      -webkit-box-align: center;
                      -ms-flex-align: center;
                      align-items: center;
                      font-size: 14px;
                      min-height: 16px;
                      line-height: 1;

                      .name-value {
                        -webkit-box-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                      }
                    }

                    .last-word {
                      font-size: 12px;
                      color: #999;
                      padding: 4px 0;
                      margin-bottom: -6px;
                      overflow: hidden;
                      width: 110px;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                    }
                  }

                  .close {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -2px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    width: 24px;
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                    opacity: 0;
                    -webkit-transition: 300ms;
                    transition: 300ms;
                    font-size: 12px;
                    color: #999;
                  }

                  &:hover {
                    background-color: #e4e5e6;

                    .close {
                      -webkit-transform: translateX(0);
                      transform: translateX(0);
                      opacity: 1;
                    }
                  }
                }

                .active {
                  background-color: #e4e5e6;
                }
              }
            }

            .session-box {
              //width: calc(100% - 240px);
              -webkit-box-flex: 1;
              -ms-flex: 1;
              flex: 1;

              .dialog {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
                height: 100%;

                .title {
                  height: 36px;
                  -ms-flex-negative: 0;
                  flex-shrink: 0;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  border-bottom: 1px solid #e9eaec;
                  position: relative;
                  text-align: center;
                  color: #333;

                  .is-black {
                    position: absolute;
                    top: 36px;
                    left: 0;
                    z-index: 2;
                    width: 100%;
                    height: 32px;
                    line-height: 32px;
                    background-color: #fff;
                    color: #fb7299;
                    text-align: left;
                    padding: 0 17px;
                  }

                  .action-menu {
                    position: absolute;
                    right: 10px;
                    z-index: 2;
                  }
                }

                .message-list {
                  -webkit-box-flex: 1;
                  -ms-flex: 1;
                  flex: 1;
                  position: relative;
                  overflow-x: hidden;
                  background-color: #f4f5f7;

                  .message-list-content {
                    max-width: 555px;
                    font-size: 14px;

                    .msg-more {
                      padding: 16px 0 0;
                      text-align: center;
                      color: #23ade5;
                      min-height: 38px;
                      font-size: 12px;

                      .error {
                        color: #8A8F8D;

                        .reload {
                          color: #00b96b;
                          cursor: pointer;
                        }
                      }
                    }

                    .msg-time {
                      padding: 16px 0 16px;
                      text-align: center;
                    }

                    .msg-item {
                      min-height: 48px;
                      padding: 0 16px 16px;
                      overflow: hidden;
                      position: relative;

                      .avatar {
                        float: left;
                      }

                      .message {
                        float: left;
                        max-width: 440px;
                        margin: 0 10px;
                        position: relative;
                        overflow: hidden;

                        .message-content {
                          line-height: 1.5;
                          min-height: 37px;
                          padding: 8px 16px;
                          word-wrap: break-word;
                          word-break: break-word;
                          border-radius: 0 16px 16px 16px;
                          overflow: hidden;
                          background: #fff;
                        }

                        .message-content:not(.is-img) {
                          position: relative;
                          z-index: 1;
                        }
                      }
                    }

                    .is-me {
                      .avatar {
                        float: right;
                      }

                      .message {
                        position: relative;
                        float: right;
                        color: #fff;

                        .message-content {
                          background: #33c789;
                          border-radius: 16px 0 16px 16px;
                        }
                      }
                    }
                  }
                }

                .send-box {
                  height: 162px;
                  border-top: 1px solid #d8d8d8;
                  border-bottom-right-radius: 4px;
                  background-color: #f4f5f7;
                  -ms-flex-negative: 0;
                  flex-shrink: 0;
                  padding: 0 16px;
                  position: relative;
                  z-index: 2;

                  /deep/ .comment-box {
                    height: 100%;
                    position: relative;

                    .u-editor {
                      position: absolute;
                      width: 100%;
                      top: 40px;
                      z-index: 4;
                      border: unset;

                      .rich-input {
                        padding: 0 2px;
                      }
                    }

                    .active {
                      border: unset;
                      background-color: unset;
                    }

                    .action-box {
                      height: 100%;
                      width: 100%;
                      margin-top: 0;
                      font-size: 14px;
                      position: absolute;
                      top: 0;
                      left: 0;
                      z-index: 3;

                      .iconfont {
                        font-size: 16px;
                      }

                      .action-emoji, .action-picture {
                        position: absolute;
                        top: 10px;
                        left: 0;
                        z-index: 3;
                        display: flex;
                        align-items: center;

                        span {
                          line-height: 18px;
                        }
                      }

                      .action-picture {
                        margin-left: 65px;
                        display: flex;
                        align-items: center;
                      }

                      .btn-box {
                        position: absolute;
                        bottom: 10px;
                        right: 2px;
                        z-index: 3;

                        button {
                          margin-right: 0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
