.container {
  .row {
    margin-right: 40px;
    margin-left: 40px;
  }
  .header-row {
    .ivu-dropdown {
      margin-top: -10px;
      position: absolute;
      right: 10px;
    }
    .ivu-dropdown-rel a {
      color: var(--font-color);
      font-size: 14px;
    }
  }

  .topic-row {
    margin-top: 20px;
    .card {
      border: 1px solid rgba(0, 0, 0, 0.125);;
      span {
        font-weight: 900;
      }
    }
  }
}
