.layout-module_notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(~"100vh - 76px");

  .layout-module_notificationsMenu {
    width: 13%;
    height: 100%;

    .layout-module_menu {
      height: 100%;
      width: 90%;

      .menu-wrap {
        padding: 25px 20px;

        .menu-item {
          height: 38px;
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 5px;
          cursor: pointer;

          .item {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 7px;

            .point {
              color: #262626;
              font-size: 25px;
              font-weight: 600;
              margin-right: 5px;
            }
          }
        }

        .fixed-anchor-point {
          color: #262626;
          font-size: 14px;
          font-weight: 700;

          .item {
            justify-content: center;
          }

          .iconfont {
            margin-right: 8px;
          }
        }

        .item-line {
          margin: 20px 0 0 30%;
          justify-content: left;
          height: 20px;

          .line {
            height: 1px;
            width: 20%;
            background: #b1b6b4;
          }
        }
      }
    }
  }

  .layout-module_notificationsContent {
    width: 87%;
    height: 100%;
  }

}
