@import '../common-var.less';
.layout-module_notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(~"100vh - 76px");

  .layout-module_notificationsMenu {
    width: 13%;
    height: 100%;

    .layout-module_menu {
      height: 100%;
      width: 90%;

      .menu-wrap {
        padding: 25px 12px;

        .menu-item {
          height: 38px;
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 5px;
          cursor: pointer;

          .item {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 12px;

            .count {
              color: @badge_color;
              //font-size: 25px;
              font-weight: 600;
              //margin-right: 5px;
            }
          }

          .item:hover, .active-menu {
            background: #eff0f0;
            border-radius: 6px;
          }
        }

        .fixed-anchor-point {
          color: #262626;
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 10px;
          height: 38px;
          width: 100%;
          display: flex;
          justify-content: center;
          cursor: pointer;

          .item {
            justify-content: center;
          }

          .iconfont {
            margin-right: 8px;
          }
        }

        .msg-setting .item{
          .iconfont {
            margin-right: 8px;
          }
          justify-content: left;
        }

        .item-line {
          justify-content: left;
          height: 20px;
          margin-top: 25px;

          .line {
            height: 1px;
            width: 100%;
            background: #b1b6b4;
          }
        }
      }
    }
  }

  .layout-module_notificationsContent {
    width: 87%;
    height: 100%;
  }

}
