@font-face {
  font-family: "iconfont"; /* Project id 3029751 */
  /* Color fonts */
  src:
          url('//at.alicdn.com/t/c/font_4166796_lwhamnhm9p.woff2?t=1694750341180') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav-menu:before {
  content: "\e60c";
}

.icon-present-show:before {
  content: "\e648";
}

.icon-layout:before {
  content: "\e759";
}

.icon-location:before {
  content: "\e64c";
}

.icon-industry:before {
  content: "\e612";
}

.icon-avatar-upload:before {
  content: "\e65c";
}

.icon-theme-btn:before {
  content: "\e608";
}

.icon-hight-light:before {
  content: "\e638";
}

.icon-account-completed:before {
  content: "\e601";
}

.icon-account-unComplete:before {
  content: "\e6a9";
}

.icon-zhifubao:before {
  content: "\e60a";
}

.icon-user-center1:before {
  content: "\e6e9";
}

.icon-user-center:before {
  content: "\e639";
}


.icon-account-set:before {
  content: "\e673";
}

.icon-grade-incentive:before {
  content: "\e6ac";
}


.icon-drop-down:before {
  content: "\e691";
}

.icon-doubt:before {
  content: "\e62a";
}

.icon-battery:before {
  content: "\e67c";
}

.icon-exp-complete:before {
  content: "\e613";
}

.icon-wait-complete:before {
  content: "\e64f";
}

.icon-topic-doc:before {
  content: "\e659";
}

.icon-preferences:before {
  content: "\e692";
}

.icon-music-setting:before {
  content: "\e6ae";
}

.icon-doc-repository:before {
  content: "\e6e0";
}

.icon-recent-edit:before {
  content: "\e9f7";
}

.icon-question-answer:before {
  content: "\e6d6";
}

.icon-mood-calendar:before {
  content: "\e65a";
}

.icon-fans:before {
  content: "\e637";
}

.icon-recent-view:before {
  content: "\e609";
}

.icon-paper-plane:before {
  content: "\e6c1";
}

.icon-hy-message:before {
  content: "\e615";
}

.icon-rankings:before {
  content: "\e623";
}
