@font-face {
  font-family: "iconfont"; /* Project id 3029751 */
  /* Color fonts */
  src:
          url('//at.alicdn.com/t/c/font_3272463_ori3b66wppf.woff2?t=1694669628549') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-history:before {
  content: "\e704";
}

.icon-editor-style:before {
  content: "\e61b";
}

.icon-edit-more:before {
  content: "\e69a";
}

.icon-cloud:before {
  content: "\e6c2";
}

.icon-lock:before {
  content: "\e881";
}

.icon-like:before {
  content: "\e606";
}

.icon-home:before {
  content: "\e61d";
}

.icon-new-doc:before {
  content: "\e64b";
}

.icon-quick-start:before {
  content: "\e8b6";
}

.icon-theme:before {
  content: "\eb6e";
}

.icon-upload-img:before {
  content: "\eb6f";
}

.icon-add:before {
  content: "\e698";
}

.icon-single-loop:before {
  content: "\e66d";
}

.icon-list-random:before {
  content: "\e610";
}

.icon-list-loop:before {
  content: "\e61f";
}

.icon-play:before {
  content: "\e616";
}

.icon-paused:before {
  content: "\e87c";
}

.icon-previous:before {
  content: "\e63c";
}

.icon-next:before {
  content: "\e63e";
}

.icon-like-no:before {
  content: "\e930";
}

.icon-like-yes:before {
  content: "\e6fc";
}

.icon-volume-open:before {
  content: "\e617";
}

.icon-volume-close:before {
  content: "\e612";
}

.icon-return:before {
  content: "\e624";
}

.icon-return-copy:before {
  content: "\eb70";
}

.icon-search:before {
  content: "\e607";
}

.icon-music-list:before {
  content: "\ea86";
}

.icon-loading:before {
  content: "\e8fd";
}

.icon-editor-setting:before {
  content: "\e63b";
}

.icon-editor-toolbar-add:before {
  content: "\e6af";
}

.icon-nav-home:before {
  content: "\e619";
}

.icon-nav-tree:before {
  content: "\e622";
}

.icon-nav-close:before {
  content: "\e7ee";
}

.icon-nav-open:before {
  content: "\e68b";
}

