@font-face {
  font-family: "iconfont";
  src:
      url('//at.alicdn.com/t/c/font_4499563_11mv5fc5mcp.woff2?t=1730044613832') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rank-1:before {
  content: "\e500";
}

.rank-2:before {
  content: "\e501";
}

.rank-3:before {
  content: "\e502";
}

.wechat:before {
  content: "\e503";
}

.qq:before {
  content: "\e504";
}

.on-the-way:before {
  content: "\e505";
}

.logo:before {
  content: "\e506";
}

.like-yes:before {
  content: "\e507";
}

.i-status:before {
  content: "\e508";
}

.high-light:before {
  content: "\e509";
}

.i-table:before {
  content: "\e510";
}

.media:before {
  content: "\e511";
}

.attachment:before {
  content: "\e512";
}

.code-block:before {
  content: "\e513";
}

.upload-image:before {
  content: "\e514";
}

.formula:before {
  content: "\e515";
}

.collected:before {
  content: "\e516";
}

.custome-theme:before {
  content: "\e517";
}

.cloud-fail:before {
  content: "\e518";
}

.wait-publish:before {
  content: "\e519";
}

.publish-ing:before {
  content: "\e520";
}

.publish-fail:before {
  content: "\e521";
}



