@font-face {
  font-family: "iconfont"; /* Project id 3029751 */
  /* Color fonts */
  src:
          url('//at.alicdn.com/t/c/font_4166796_w8pcde7vild.woff2?t=1691671888513') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav-menu:before {
  content: "\e60c";
}

.icon-content-public:before {
  content: "\e63f";
}

.icon-present-show:before {
  content: "\e648";
}

.icon-layout:before {
  content: "\e759";
}

.icon-location:before {
  content: "\e64c";
}

.icon-industry:before {
  content: "\e612";
}

.icon-avatar-upload:before {
  content: "\e65c";
}

.icon-theme-btn:before {
  content: "\e608";
}

.icon-hight-light:before {
  content: "\e638";
}

.icon-account-completed:before {
  content: "\e601";
}

.icon-account-unComplete:before {
  content: "\e6a9";
}

.icon-zhifubao:before {
  content: "\e60a";
}

.icon-user-center1:before {
  content: "\e6e9";
}

.icon-user-center:before {
  content: "\e639";
}

.icon-user-domain:before {
  content: "\e62e";
}

.icon-account-set:before {
  content: "\e673";
}

.icon-grade-incentive:before {
  content: "\e6ac";
}

.icon-data-stats:before {
  content: "\e614";
}

.icon-drop-down:before {
  content: "\e690";
}

.icon-doubt:before {
  content: "\e60b";
}

.icon-battery:before {
  content: "\e67c";
}
