.layout-module_ranking {
  display: flex;
  justify-content: center;
  align-items: center;

  .layout-module_rankingMenu {
    width: 20%;
    height: calc(~"100vh - 76px");

    .layout-module_menu {
      width: 225px;
      position: fixed;
      top: 77px;
      padding-bottom: 50px;

      .menu-wrap {
        padding: 25px;

        .menu-item {
          height: 38px;
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 5px;
          cursor: pointer;

          .item {
            font-size: 14px;
            //color: #262626;
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 15px;

            .iconfont {
              font-size: 18px;
              margin-right: 6px;
            }
          }

          .item:hover, .active-menu {
            background: var(--dropdown-item-hover);
            backdrop-filter: blur(10px);
            border-radius: 6px;
          }
        }

        .fixed-anchor-point {
          //color: #262626;
          font-size: 15px;
          font-weight: 700;
          margin-bottom: 10px;
          height: 38px;
          width: 100%;
          display: flex;
          justify-content: center;
          user-select: none;

          .item {
            justify-content: center;
          }

          .iconfont {
            margin-right: 10px;
          }
        }
      }

      .rank-tip {
        padding: 0 25px 25px;
        font-size: 12px;
        display: flex;
        align-items: center;

        .iconfont {
          font-size: 14px;
          margin-right: 2px;
        }
      }
    }
  }

  .layout-module_rankingContent {
    margin-bottom: 50px;
    padding: 35px 60px;
    width: 80%;
    height: 100%;
    min-height: calc(~"100vh - 76px");
  }

}
